*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is depending on what font size the user has set
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}